#container
{
	padding: 30px;
	margin: 0 auto;
        padding-top: 15px;
        width: 1200px;
}

#console
{
	width: 100%;
	height: 400px;
	overflow-y: auto;
	word-wrap: break-word;
	font-family: courier;
	outline: none;
}

#header
{
    background-color: #202539;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    border-radius: 0;
}

#headerwrap
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#logo
{
    font-family: 'Trebuchet MS';
    font-weight: normal;
    font-style: italic;
    font-size: 20pt;
    padding-top: 5px;
    color: #CFFAFF;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

#menu>.item.active
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #BFFAFF!important;
}

.cursor
{
	background-color: #bbb;
	color: #000;
	-webkit-animation: terminal-blink 1s infinite steps(1, start);
    -moz-animation: terminal-blink 1s infinite steps(1, start);
    -ms-animation: terminal-blink 1s infinite steps(1, start);
    animation: terminal-blink 1s infinite steps(1, start);
}

.noblink
{
	-webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@keyframes terminal-blink {
  0%, 100% {
      background-color: #fff;
      color: #000;
  }
  50% {
      background-color: #bbb;
      color: #000;
  }
}

#ports {
    white-space:nowrap;
}

#graph {
    position: relative;
    left: 30px;
}

#y_axis_left {
    position: absolute;
    top: 15px;
    bottom: 0;
    width: 30px;
}

#y_axis_right {
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    width: 45px;
}
